<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Satellite FEC</title>
    <style>
        .body {
            background: #E8CBC0;
            background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
            background: linear-gradient(to right, #636FA4, #E8CBC0);
        }
    </style>
</head>

<body>
    <div class="bg-gradient-to-r from-purple-700 to-pink-300 min-h-screen flex items-center justify-center">
        <div class="max-w-2xl p-8 bg-opacity-20 h-full w-full bg-purple-100 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100 rounded-lg" rounded shadow-lg">
            <img src="/static/logo2.png" class="w-24 h-24"/>
            <h1 class="text-4xl text-white font-bold mb-4">Welcome!</h1>
            <p class="text-white mb-6">Problem Statement: Identification and Extraction of Forward Error Correction
                (FEC) schemes of unknown demodulated signals</p>
            <a href="/process" class="bg-blue-500 rounded-lg p-2 text-white">Get Started</a>
        </div>
    </div>

</body>

</html>