<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEC Decoder - Smart India Hackathon 2023</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="h-screen flex items-center justify-center">

    <div class="bg-gradient-to-r from-purple-700 to-pink-300 min-h-screen h-full w-full flex items-center justify-center">

        <!-- <img src="/static/bg.jpg" class="h-full w-full absolute" /> -->
    
        <form method="post" action="/process" id="fecForm" enctype="multipart/form-data"
            class="bg-white bg-opacity-20 rounded-lg shadow-md backdrop-filter backdrop-blur-md border border-white p-4 w-72 text-center">
            <h2 class="text-blue-500">FEC Decoder</h2>
            <label for="binaryInput" class="block mb-2 text-sm text-white">Upload file</label>
            <input type="file" id="binaryInput" name="file" placeholder="Enter binary string..." required
                class="w-full px-4 py-2 mb-4 border rounded-md text-sm text-gray-700"/>
            <label for="fecType" class="block mb-2 text-sm text-white">Select FEC Type:</label>
            <select id="fecType" name="modulator_type" class="w-full px-4 py-2 mb-4 border rounded-md text-sm text-gray-700">
                <option value="QSPK">QSPK</option>
                <option value="BSPK">BSPK</option>
                <option value="8SPK">8SPk</option>
            </select>
    
            <button type="submit"
                class="bg-blue-900 text-white px-5 py-2 border rounded-md cursor-pointer text-lg transition duration-300 hover:bg-blue-950">
                Submit
            </button>
        </form>
    
        <div class="flex justify-bottom items-end ml-10">
    
            <h1 class="text-4xl">{{value}}</h1> 
        </div>
    </div>


    <script>
        function decodeFEC() {
            var binaryString = document.getElementById("binaryInput").value;
            var selectedFEC = document.getElementById("fecType").value;
            var fecType;

            // Use the selected FEC type if available, else use decoding logic
            if (selectedFEC) {
                fecType = "FEC Type " + selectedFEC;
            } else {
                // FEC decoding logic
                if (binaryString.startsWith("1010")) {
                    fecType = "FEC Type A";
                } else if (binaryString.startsWith("1100")) {
                    fecType = "FEC Type B";
                } else {
                    fecType = "Unknown FEC Type";
                }
            }

            // Display the result
            document.getElementById("result").innerHTML = "<p class='text-green-500'>FEC Type: " + fecType + "</p>";
        }
    </script>
</body>

</html>